* {
   padding: 0;
   box-sizing: border-box;
   margin: 0;
   text-decoration: none;

}

/*FOR COMPUTERS*/


body {
   color: rgb(255, 255, 255);
   overflow-x: hidden;
   background-color: #2B2B30;
   background-size: cover;
   font-family: 'Segoe UI', sans-serif;
   letter-spacing: .70px;
overflow: hidden;
}
.container{
   height:25rem;
   width: 25rem;
background-color: white;
  margin:50% auto;
  margin-top:80px;
  border-radius: 5px;
  box-shadow: 2px 1px 1px black;
}
h4{
  color: #2b2b30;
  font-size: 2.5rem;
  border-bottom: 2px solid #2b2b30;
 text-align: center;
}
p{
 color: black;
 font-size: 15px;

}
textarea{
 height:13rem;
   width: 25rem;
  color: #efe6e6;
margin-top:25px;
 border:4px solid white;
  background-color: #2b2b30;
}
.bodymove {
   overflow: hidden;
}
.submit{
  width: 6rem;
  height:2rem;
  background-color: orangered;
  color:white;
  border:none;
  margin-left: 18rem;
}
.movie-nav {
   display: flex;
   flex-direction: column;
   margin-top: -7px;
   display: none;
}

.movie-nav li {
   list-style: none;
   height: 10px;
   text-align: center;
   font-size: 10px;

}

nav {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   height: 90px;
   background-color: rgba(0, 0, 0, 0.30);
   animation: navup 1s ease-in-out;
   position: sticky;
   top: 0px;
}

@keyframes navup {
   from {
      position: relative;
      top: -10vh;
   }

   to {
      position: relative;
      top: 0vh;
   }
}
.burger div {
   background-color: white;
   width: 25px;
   height: 3px;
   margin: 3px;
}

.burger:active {
   background: orangered;
}

ul {
   position: absolute;
   top: 13vh;
   left: 0;
   background-color: #2B2B30;
   width: 70%;
   height: 100%;
   display: flex;
   background-clip: content-box;
   overflow-y: none;
   flex-direction: column;
   justify-content: space-between;
   transform: translatex(-250%);
   font-size: 30px;
}

ul li {
   list-style: none;
   height: 70px;
   width: 100%;
   text-align: center;
   margin-top: 30px;
}

.logo {
   font-size: 1.5rem;
}

ul li a {
   text-decoration: none;
   color: #efe6e6;
   font-size: 1.3rem;
   padding: 0;
   margin-top: 1px;
}

a {
   color: white;
}

h6 a:hover {
   font-weight: light;
   color: grey;
}
footer{
   background-color: white;
   color: #2B2B30;
   font-size: 9px;
   height:14px;
   text-align: center;
   padding: 2px;
}

.searchtools img{
  width: 5.5%;
  height: 39px;
  cursor: pointer;
  position: absolute;
  border: none;
  top:27px;
}




@media (min-width: 1005px) {
.container{
  width: 35rem;
  height: 30rem;
}
h4{
  font-size:3rem;
}




}