*,*::before,*::after{
	padding:0;
	margin:0;
	text-decoration: none;
	box-sizing: border-box;
}

/*for Mobile*/
body {
	color:rgb(192, 39, 39);
	background-color:#2b2b30;
	font-family: 'Segoe UI', sans-serif;;
    letter-spacing: .70px;
    overflow-x:hidden;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 0 30px;
	height: 88px;
	background-color:rgba(0, 0, 0, 0.10);
   box-shadow: 2px 1px 5px black;
    animation: navup 1s ease-in-out;
    
}
@keyframes navup{
   from{ position:relative; top:-10vh;}
   to{ position:relative; top:0vh; }
}
form{
	display:flex;
	flex-direction:column;
    align-items:center;
}
h2{
	font-size:2.2rem;
	letter-spacing:1px;
	color:white;
	text-shadow: 2px 1px 1px black ;
}
h5{
	font-size:1rem;
	letter-spacing: 1px;
}
.register{
   width: 18rem;
   height:3.2rem;
}
button{
	width:8rem;
	height: 47px;
	border:none;
	background-color: red;  
	margin: 3px;
	border-radius: 2px;
	font-size: 1.2rem;
   outline:none;
   color: white;
 
}
button:hover{
   background: gray;
   color:white;
   border: none;
}
.nav-active{
	transform: translatex(0%);
}
.cont{
	display:flex;
	flex-direction: column;
	margin-top: 4rem;
}
h5{
   font-size: 1rem;
    margin-bottom: 13px;
	color:white;
	margin-left: -14rem;
}
.hQ{
	font-size: .91rem;
    color: whitesmoke;
	margin:20px auto;
	width: 16rem;
	font-weight:400;
	line-height: 28px;
	text-align: center;
	border-top:1px solid grey;
	padding-top:10px;
}
span a{
    color:grey;
}
input,.gender
{
	width:18rem;
	height: 52px;
	margin-bottom: 17px;
    font-size: 1rem;
	padding: 4px;
    border:none;
    border-radius: 3px;
}
.gender{
   background-color: white;
   font-size: 1.3rem;
   width:16.5rem;
}
.signin{
	background-color: orangered;
} 
a{
   color: white;
   font-size: 1.1rem;
}
.cont-text{
    margin-bottom: 34px;
    margin:a;
	font-size: 1.5rem;
	color: white;
	font-weight:500;
	letter-spacing: 1.5px;
	text-align: center;
}




/* FOR tablet */
@media screen and (min-width: 768px){
.search-btn{
       display:none;
		
}
.reg{
    width:20rem;
    font-size:1rem;
}
.cont{
	display:flex;
	flex-direction: column;

}
.signin{
    margin-left: 1.3em;
    width:19em;
}

ul{
	width:100%;
	position:absolute;
    top:11vh;
    left:0;
    font-size: 1.5rem;
}
}


/* for Computers*/
@media screen and (min-width: 1024px){

nav{
	justify-content: space-around;
	
}
input{
height:3.2rem;
}

h5{
	margin-left: -21rem;
}
.hQ{
	
	font-size: 1rem;
}
}