*{
     padding: 0;
     box-sizing: border-box;
     margin: 0;
     text-decoration: none;   
}
body{
     background-color:  #26262b;  
     display: flex;
    justify-content: center;
}
.btn{
     height: 50px;
     width: 5rem;
     border: none;
     font-size: 1.2rem;
     border-radius: 0 40px 40px 0;
     color: white;
     margin: -4px 0 1px -4px;
     outline: none;
     background-color: grey;
}
.search {
     width: 16rem;
     height: 20px;
     background: white;
     font-size: 22px;
     color:black;
    border-radius: 40px 0 0 40px;
     padding: 25px;
     cursor: pointer;
     outline: none;
     border: none;
     margin-top: 40px;
  
}

.loader{
     position: fixed;
     z-index: 99;
     height: 100%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
   }
   .loader-image{
     height: auto;
     width: 13rem;
     
   }
   .after-load{
     animation: after 1s forwards;
   }
   @keyframes after {
     100%{
       opacity: 0;
       visibility: hidden;
     }
   }
.cancel {
    font-size: 2.7rem;
    position: absolute;
    top: 41px;
    right: 130px;
    font-weight: 800;
    cursor: pointer;
}
.search-list{
     margin-top: 30px;
     text-decoration: none;
     color:white;
     font-size:2rem;
     height: 43rem;
     background-clip: padding-box;
     overflow-y:scroll;
}
.search-list li{
     list-style: none;
}


    /*LAPTOP screens*/
@media (min-width: 1026px) {
     .search{
          width: 25rem;
     }
     .btn{
          width: 8rem;
     }
     .cancel {
          top: 41px;
          right: 670px;
     
      }
}
   