*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  
}

/*mobile view*/
body {
  color: rgb(255, 255, 255);
  overflow-x: auto;
  background-color: #2B2B30;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  letter-spacing: .70px;
}
.loader{
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.loader-image{
  height: auto;
  width: 13rem;
  
}
.after-load{
  animation: after 1s forwards;
}
@keyframes after {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
.bodymove{
  overflow: hidden;
}
.movie-nav{
  display:flex;
  flex-direction:column;
  margin-top: 10px;
  height: px;
  display:none;
 
}
.movie-nav li{
  list-style: none;
  text-align: center;
  height: 2px;
}
.Cancel{
   position: absolute;
   top: 180px;
   right:50px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 80px;
	background-color:rgb(93, 93, 100);
   box-shadow: 2px 1px 5px black;
   animation: navup 1s ease-in-out;
}
@keyframes navup{
   from{ position:relative; top:-10vh;}
   to{ position:relative; top:0vh;    }
}
.burger div{
	background-color:white;
	width:27px;
	height: 3px;
	margin: 4px;
}

.burger:active{
  background: grey;
}
.nav-active {
  transform: translatex(0%);
   overflow: -moz-hidden-unscrollable;
}

footer{
   background-color: white;
   color: #2B2B30;
   font-size: .70rem;
   height:2rem;
   text-align: center;
    padding-top: .60rem;
  /* margin-bottom: 0rem; */
}
  .search-Btn{
    position: relative;
    top:-30rem;
    width: 11rem;
    height:23px;
  }
  .searchtools img{
    width: 6.7%;
    height: 42px;
    cursor: pointer;
    position: absolute;
    border: none;
    top:25px;
    
  }

.recently-added{
  display: flex;
  flex-direction:column;
}
.logo {
  font-size: 1.5rem;
  text-shadow: 2px 1px 1px black ;
  
}
  .movie-img {
    width: 140px;
    height: 210px;
  
  }
  .header-img{
    background: url("bg7.jpg");
    background-size: cover;
    width: 100%;
    height:470px;
    box-shadow: 1PX 1PX 5PX black;
    animation: navup 1s ease-in-out;
  }
  
  h5 {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    font-weight: 500;
  }

  .morebtn {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  h6 {
    font-size: 11px;
    letter-spacing: 1.8px;
    margin-left:10px;
  }

  .reg {
    display: none;
  }
.cancel{
  font-size: 2.3rem;
  position: absolute;
  top:28px;
  display: none;
}ul {
  position: absolute;
  top: 11.1vh;
  left: 0;
  background-color: #2B2B30;
  width: 100%;
  height: 630px;
  display: flex;
  border: 2px solid grey;
  background-clip:content-box;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: space-around;
  transform: translatex(-250%);
  font-size: 22px;
}
.Cancel{
  display: none;
  position: absolute;
   top: 150px;
   right:50px;
  cursor: pointer;
}
ol{
  background: grey;
  height:290px;
  display: none;
}
/* .movies{
  margin-bottom: -29px;
} */
ul ol li {
 margin-bottom: 20px;
 position: relative;
 top:30px;
}
ul ol li a{
  font-size: 10px;
}
ul li {
	list-style:none;
	width:100%;
  text-align:center;
 
	margin-top:-45px;
}
a {
  color: white;
  
}
.movies{
   cursor: pointer;
   margin-bottom: -50px;
}
.movie-nav li {
   height:1rem;
   margin-top:10px;
}
.movie-nav li a{
   font-size: 19px;
   
}
.movie-desc {
    margin-left: 4px;
   
}
.img-container{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr .80fr;
  grid-gap: 8px;
  height:auto;
  background-clip: padding-box;
  overflow-y: hidden;
}
  section {
    background-color: none;
    width: 100%;
    height: auto;
    margin-top: .60rem;
    margin-bottom: 45px;
  }
.movie-desc1{
  display: none;
}
.download-btn{
    outline: none;
    width: 7rem;
    height: 2.3rem;
    font-size: .94rem;
    font-weight: 400;
    margin-top: 270px;
    margin-left: 115px;
    cursor: pointer;
    color:white;
    background-color:orangered;
    display:none;
 }

header {
  padding: 1px;
  margin-bottom: 5px;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 4px;
  margin-top:-12px;
  /* width: 21.5rem; */
  }


  button{
    width: 7rem;
    height: 48px;
    border:none;
    background-color:#2B2B30;  
    margin: 3px;
    border-radius: 3px;
    font-size: 1.1rem;
      outline: none;
      color:white;
        background-color: red;
     letter-spacing: 1px;
  }
  button:hover{
   
    width: 9rem;
    height: 55px;
  }
 .container{
   padding: 8px;
   
 }

 @media screen and (min-height: 607px) {
 .searchtools img{
   width: 30px;
 }
}

 /*larger screens*/
@media (min-width: 1024px) {
ul {
  top:10vh;
  width: 450px;
  height: 450px;
  transform: translatex(-100%);
}
ul li {
  list-style: none;
  height: 10px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.Cancel{
   top: 90px;
   right:50px;
  cursor: pointer;
}
.searchtools img{
  width: 30px;
}
ol{
  background: grey;
  height:230px;
  display: none;
}
/* .movies{
  margin-bottom: -29px;
} */
ul ol li {
 margin-bottom: 14px;
 position: relative;
 top:10px;
}
ul ol li a{
  font-size: 6px;
}
.logo {
  font-size: 2rem;
}
ul li a {
  text-decoration: none;
  color: #efe6e6;
  font-size: 1.2rem;
  margin-top: 6px;
}
a {
  color: white;
}
h6 a:hover {
  font-weight: light;
  color: grey;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 1px;
}
section {
  background-color: none;
  width: auto;
  height: auto;
  margin-bottom: 40px;
 
}
.img-container {
  display: flex;
  overflow-y: none;

}
.movie-img {
  width: 220px;
  height: auto;
  margin-left: 22px;
  margin-bottom: 12px;
  
}

h6 {
  font-size: 1rem;
  margin-left: 1.6rem;
  margin-bottom: 12px;
  letter-spacing: 2px;
  font-weight: 400;
}
.movie-desc {
  margin-bottom: 10px;
}
header {
  color: white;
  padding: 15px;
  margin-top: -1rem;
 width:auto;
  margin-right: -1rem;
}
.header-img{
 
  background-size:contain;
  height: 40rem;
  box-shadow: 1px 2px 2px black;
}
.morebtn {
  font-weight: bolder;
  font-size: 3.5rem;
}
h5{
  font-size: 1.9rem;
}
}

 /*TABLET screens*/
 @media (min-width: 7680px) {
  header {
    width: auto;
    }  

}