*, *::before, *::after{
	padding:0;
    box-sizing: border-box;
  margin:0;
  
    text-decoration: none;
}

.loader{
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .loader-image{
    height: auto;
    width: 13rem;
    
  }
  .after-load{
    animation: after 1s forwards;
  }
  @keyframes after {
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }
body {
	color:rgb(255, 255, 255);
	background-color: #2B2B30;
	background-size:cover;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: .70px;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 80px;
	background-color:rgba(0, 0, 0, 0.24);
   box-shadow: 2px 1px 5px black;
   animation: navup 1s ease-in-out;
}
@keyframes navup{
   from{ position:relative; top:-10vh;}
   to{ position:relative; top:0vh;    }
}
.burger div{
	background-color:white;
	width:27px;
	height: 3px;
	margin: 4px;
}
ul {
  position: absolute;
  top: 13vh;
  left: 0;
  background-color: #2B2B30;
  width: 100%;
  height: 614px;
  display: flex;
  background-clip:content-box;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: space-around;
  transform: translatex(-250%);
  font-size: 22px;
}
.Cancel{
  display: none;
  position: absolute;
   top: 150px;
   right:50px;
  cursor: pointer;
}
ol{
  background: grey;
  height:270px;
  margin-top: -50px;
  display: none;
}
ul ol li {
 margin-bottom: -30px;
 position: relative;
 top:250px;
}
ul ol li a{
  font-size: 18px;
}
ul li {
	list-style:none;
	height:10px;
	width:100%;
	text-align:center;
	margin-top:-45px;
}
.logo{
    font-size: 3rem;
}
iframe{
    margin-bottom: 8px;
}

a{
    color:white;
}
h6 a:hover{
   font-weight: light;
    color: grey;
}
.search{
    display:none;
}
.search-btn{
display: none;
	
}
.nav-active{
	transform: translatex(0%);
}
.content{
display: flex;
}
.content2{
    margin-left: 30px;
}
.container {
    display: flex;
   justify-content: center;
   padding:12px;
   flex-direction:column;
}

.btns{
  display: flex;
  color: black;
  margin-top: 20px;
}

.movieimg{
    width:170px;
	height:230px;
    
}
.header{
  display: flex;
  margin-top: 10px;
  
}
h2{
    font-size: 1.8rem;
}
.title{
    font-size:1.7rem;
    margin-bottom: 12px;
    padding-bottom: 10px;
    margin-top: 25px;
}
.date{
    margin-bottom: 18px;
    
}
.length{
  font-size:5px;
}
.description{
    font-size: 1rem;
    margin-bottom: 12px;
   
}
.paragraph-section{
    border-bottom: 1px solid gray;

}
.director, .starring{
    display: flex;
    justify-content: space-between;
    width: 13rem;
    padding-bottom: 20px;
    margin-top: 8px;
    font-size:13px;
   
 }

.dtitle, .stitle{
   color:rgb(147, 156, 160);
   
}
.genre{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.genre1{
   width:120px;
   height:37px;
   padding: 5px;
   font-size: 1.1rem;
   background-color: grey;
   text-align: center;
   margin-left: -.04rem;
   border-radius: 20px;
}
.length{
    font-size: 1rem;
    margin-top: -8px;
    font-weight: 500;
    color: grey;
}
.recommendation{
    margin-top: 0px;
}
.recomtitle{
    font-size:1.5rem;
    margin-bottom: 9px;
}
.recomimages{
    display:grid;
    grid-template-columns: repeat(3,1fr);
   grid-gap: -20px;
}
.movie-img{
    width:140px;
	height:170px;
    margin-bottom: 5px;

}
.movie-desc{
    margin-bottom: 8px;
}
h6{
  font-size: .72rem;
}
.downloadbtn, .sharebtn{
    width:11rem;
    height: 42px;
    margin-bottom: 15px;
    font-size: 1.2rem;
   
}
.downloadbtn:hover, .sharebtn:hover{
    background-color: grey;
    color:white;
}
.downloadbtn{
   background-color: white;
   padding:5px 42px 10px  42px;
  color: black;
  margin-right:8px;
}

.sharebtn{
    outline: none;
    background-color: #2B2B30;
    border: 2px solid white;
    color: white;
}
.searchBtn{
    width:25px;
}
.thriller{
  width: 100%;
  height: 200px;
  border: 1px solid white;
  margin-top: 10px;
}
footer{
   background-color: white;
   color: #2B2B30;
   font-size: 9px;
   height:14px;
   text-align: center;
   padding: 2px;
}


@media screen and (max-height: 607px) {
  ul{
    top: 15.5vh;
    height: 530px;
  } 
 .Cancel{
   top: 110px;
 }
}


/* FOR computers */
@media (min-width: 1024px){ 
.container{
    margin: auto;
    width: 40rem;
}
ul {
    position: absolute;
    top: 11.7vh;
    left: 0;
    background-color: #2B2B30;
    width: 100%;
    height: 710px;
    display: flex;
    background-clip:content-box;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: space-around;
    transform: translatex(-250%);
    font-size: 25px;
  }
  .Cancel{
    display: none;
  }
  ol{
    background: grey;
    height:270px;
    margin-top: -80px;
    display: none;
  }
  ul ol li {
   margin-bottom: -30px;
   position: relative;
   top:240px;
  }
  ul ol li a{
    font-size: 18px;
  }
  ul li {
      list-style:none;
      height:10px;
      width:100%;
      text-align:center;
      margin-top:-45px;
  }
  .movieimg{
      width:260px;
      height:360px;
  }
  h2{
      font-size: 1.8rem;
  }
  .title{
      font-size:3.3rem;
  }
  .date{
      font-size:.94rem;
  }
  .description{
      font-size: 1.5rem;
      margin-bottom:14px;
  }
  .director, .starring{
      width: 15rem;
      font-size:17px;
   } 
  .recomtitle{
      font-size:1.8rem;
      margin-top: 29px;
      margin-bottom: 24px;
  }
  .movie-img{
      width:160px;
      height:220px;
      margin-bottom: 8px;
  }
  .movie-desc{
      margin-bottom: 20px;
  }
  h6{
    font-size: .93rem;
  }
  .downloadbtn, .sharebtn{
      width:18rem;
      height:3.5rem;
  }
  .downloadbtn{
    background-color: white;
    padding:15px 100px 15px  100px;
   color: black;
   margin-right:12px;
 }
 
  iframe{
    width: 38rem;
    height:25rem;
  }

}
